
@media (max-width: 699px) {
  @-webkit-viewport{width:device-width}
  @-moz-viewport{width:device-width}
  @-ms-viewport{width:device-width}
  @-o-viewport{width:device-width}
  @viewport{width:device-width}

}



body {
  width: 95%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  font-size: normal;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  background: #eee;

}

a {
  color: #00B7FF;
  font-size: normal;
}

.header {
  background: #000;
  height: 50px;
  padding: .2em;
}

.header a{
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  font-size: x-large;
}

.header img {
  max-height: 60px;
  vertical-align: middle;
}

.footer {
  background: #111;
  padding: 1em;
  text-align: center;
}

.footer p {
  color: #CCC;
  font-size: x-small;
}

.footer a {
  font-size: small;
}

h1 {
  font-size: x-large;
  color: green;
}

h2 {
  font-size: large;
}

.note{
  font-size: small;
  font-style: italic;
}

.stale {
  color: red;
  font-style: bold;
}

table {
  min-width: 320px;
  border-collapse: collapse;
}

th {
  font-size: 1.25em;
  font-weight: bold;
}

td {
  padding: .1em 1em;
}

td.alignR {
  text-align: right;
}

td.alignC {
  text-align: center;
}

td.place{
  padding-right: 0em;
}

/* make results class tables stripy! */
tbody.results tr:nth-child(odd) {
  background: #ccc;
}
tbody.results tr:nth-child(even) {
  background: #eee;
}

/* make non-ok results red text */
tr.badresult {
  color: #A00;
}

tr.team {
  background: #bdf;
}
