extends layout

block content
  h1 2015-2015 Winter O' / WIOL #1 - Magnuson Park
  h2 WIOL
  ul
    li
      a(href='/results/W1F') Elementary Girls
    li
      a(href='/results/W1M') Elementary Boys
    li
      a(href='/results/W2F') Middle School Girls
      | ---
      a(href='/results/W2F/teams') (teams)
    li
      a(href='/results/W2M') Middle School Boys
      | ---
      a(href='/results/W2M/teams') (teams)
    li
      a(href='/results/W3F') Jr Varsity Girls
      | ---
      a(href='/results/W3F/teams') (teams)
    li
      a(href='/results/W4M') Jr Varsity Boys
      | ---
      a(href='/results/W4M/teams') (teams)
    li
      a(href='/results/W6F') Varsity Girls
      | ---
      a(href='/results/W6F/teams') (teams)
    li
      a(href='/results/W6M') Varsity Boys
      | ---
      a(href='/results/W6M/teams') (teams)

  hr
  h2 Winter O' Series
  ul
    li
      a(href='/results/1') Beginner
    li
      a(href='/results/3') Intermediate
    li
      a(href='/results/7') Short Advanced
    li
      a(href='/results/8F') Long Advanced Female
    li
      a(href='/results/8M') Long Advanced Male
    li
      a(href='/results/8G') Long Advanced Groups
