<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='COCwifi.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block addhead %}{% endblock %}
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p>All results displayed are <strong>preliminary</strong>. Last update at {{time}}. Results update roughly every 5 minutes.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                {% for c in classes %}
                    <!-- Individual Results --> 
                    <div class="col-lg-4 slidecol">
                        <h2>{{ c.class_name }}</h2>
                        <table class="table table-condensed table-striped" id="resultTable">
                            <th>#</th>
                            <th>Name</th>
                            <th>Club</th>
                            <th style="text-align:right;">Result</th>
                            {% if c.is_scored %}
                            <th style="text-align:right;">Score</th>
                            {% endif %}
                            {% for r in results_indv[c.class_code] %}
                            {% if loop.index <= 30 %}
                                <tr>
                                {% if r.status == 'OK' %}
                                    <td>{{ r.position }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ r.name }} ({{ r.club_code }})</td>
                                <td>{{ clubs[r.club_code] }}</td>
                                {% if r.status == 'OK' %}
                                    <td style="text-align:right;">{{ r.timetommmss() }}</td>
                                {% else %}
                                    <td style="text-align:right;">{{ r.status }}</td>
                                {% endif %}
                                {% if c.is_scored %}
                                <td style="text-align:right;">{{ r.score|int }}</td>
                                {% endif %}
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>

                    {% if (results_indv[c.class_code] | length) > 30 %}
                    <div class="col-lg-4 slidecol">
                        <h2>{{ c.class_name }} <small>Continued</small></h2>
                        <table class="table table-condensed table-striped" id="resultTable">
                            <th>#</th>
                            <th>Name</th>
                            <th>Club</th>
                            <th style="text-align:right;">Result</th>
                            {% if c.is_scored %}
                            <th style="text-align:right;">Score</th>
                            {% endif %}
                            {% for r in results_indv[c.class_code] %}
                            {% if loop.index > 30 %}    
                                <tr>
                                {% if r.status == 'OK' %}
                                    <td>{{ r.position }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ r.name }} ({{ r.club_code }})</td>
                                <td>{{ clubs[r.club_code] }}</td>
                                {% if r.status == 'OK' %}
                                    <td style="text-align:right;">{{ r.timetommmss() }}</td>
                                {% else %}
                                    <td style="text-align:right;">{{ r.status }}</td>
                                {% endif %}
                                {% if c.is_scored %}
                                <td style="text-align:right;">{{ r.score|int }}</td>
                                {% endif %}
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}

                    <!-- Matching Team Results go adjacent -->
                    {% for etc in classes_teams %}
                    {% if c.class_code in etc.team_classes and c.class_code.startswith('W') %}
                    <div class="col-lg-4 slidecol">
                        <h2>{{ etc.class_name }}</h2>
                        <table class="table table-condensed table-striped" id="resultTable">
                            <th class="col-xs-1">#</th>
                            <th class="col-xs-1">Score</th>
                            <th class="col-xs-10">Team</th>
                            {% for t in results_teams[etc.class_code] %}
                            <tr>
                                <td>{{ t.position }}</td>
                                <td style="text-align: right; padding-right:20px">{{ t.score|int }}</td>
                                <td>{{ clubs[t.club_code] }} ({{ t.club_code }})</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}
                    {% endfor %}

                
                {% endfor %}
                    <div class="col-lg-4 slidecol">
                        <h2 class="text-center">Junior Nationals</h2>
                        <p class="text-center">Mark your calendars, Cascade is hosting OUSA Junior Nationals April 17-19 on Whidbey Island!</p>
                        <p class="text-center">Registraiton will open soon!</p>
                    </div>
                    <div class="col-lg-4 slidecol">
                        <h2 class="text-center">Thanks to all of our Volunteers!</h2>
                        <p class="text-center">Today's event, and all Cascade Orienteering events, only happen becuase of volunteers.</p>
                    </div>

                </div>
            </div>
        </div>
    </body>


    <script>
        var slides = document.getElementsByClassName('slidecol');
        var numSlides = slides.length;
        var slideDurationSeconds = 15;
        var refreshSeconds = 300;
        var n = 0

        function showAsSlides() {
            // grab all the items that will have display toggled

            // hide them all
            // for (var i = 0; i<slides.length; i++) {
            //     slides[i].style.display = 'none';
            // }
            hideAll()

            // set up an interval and advance the slides
            var interval = window.setInterval(animate3, slideDurationSeconds * 1000 );
            show3(0)
        }

        function hideAll() {
            // hide them all
            for (var i = 0; i<slides.length; i++) {
                slides[i].style.width = 0;
                slides[i].style.height = 0;
                slides[i].style.overflow = "hidden";
                slides[i].style.opacity = 0;
            }
        }

        function show3(indx) {
            for (i = indx; i < indx + 3; i++) {
                slides[i].style.width = null;
                slides[i].style.height = null;
                slides[i].style.overflow = null;
                slides[i].style.opacity = 1;
                if (! slides[i].classList.contains("visible")) {
                    slides[i].className += " visible"
                }
                if (slides[i].classList.contains("no-pad")) {
                    slides[i].classList.remove("no-pad");
                }
            }
            for (var i = 0; i<slides.length; i++) {
                if (! slides[i].classList.contains("visible")) {
                    slides[i].style.width = 0;
                    slides[i].style.height = 0;
                    slides[i].style.overflow = "hidden";
                    slides[i].style.opacity = 0;
                if (! slides[i].classList.contains("no-pad")) {
                    slides[i].className += " no-pad"
                }
                }
            }
        }

        function animate3() {
            if (n % numSlides == 0 && n*slideDurationSeconds > refreshSeconds) {
                // at end and expired, reloading.
                location.reload()
            }

            var showing = document.getElementsByClassName('visible');
            //TODO: if showing.length > 3, error!!

            if (showing.length > 0) {
                showing[0].addEventListener('animationend', function() {
                    this.classList.remove("toremove");
                    this.classList.remove("visible");
                    if (!this.classList.contains("no-pad")) {
                        this.className += " no-pad"
                    }
                    this.style.width = 0;
                    this.style.height = 0;
                    this.style.overflow = "hidden";
                    this.style.opacity = 0;
                    console.log("cleaned up");
                })
                
                showing[0].className += " toremove"
            }

            n++;

            var slideToShow = n % numSlides;
            console.log("Displaying slide:" + slideToShow)
            show3(slideToShow);
        }


        function advance3() {
            if (n % numSlides == 0 && n*slideDurationSeconds > refreshSeconds) {
                // at end and expired, reloading.
                location.reload()
            }
            // hide them all
            for (var i = 0; i<slides.length; i++) {
                slides[i].style.display = 'none';
            }

            // display the next three thirds!
            var slideToShow = n % numSlides;
            console.log("Displaying slide:" + slideToShow)
            for (j = slideToShow; j < slideToShow + 3; j++) {
                try {
                    slides[j].style.display = 'block';
                }
                catch(err) {
                    console.log("Out of range" + j)
                }
            }

            // advance n
            n++;
            
            

        }
        function advance() {
            if (n % numSlides == 0 && n*slideDurationSeconds > refreshSeconds) {
                // expired, reloading.
                location.reload()
            }

            //switch which slide is displayed.
            console.log("switching to next. N=", n);

            // hide them all
            for (var i = 0; i<slides.length; i++) {
                slides[i].style.display = 'none';
            }

            // display the next slide
            var slideToShow = n % numSlides;
            console.log("Displaying slide:" + slideToShow)
            slides[slideToShow].style.display = 'block';

            // advance n
            n++;
        }

        showAsSlides()
    </script>
</html>