<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='COCwifi.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block addhead %}{% endblock %}
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <p>All results displayed are <strong>preliminary</strong>. Last update at {{time}}. Results update roughly every 5 minutes.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                {% for c in classes %}
                    <!-- Individual Results --> 
                    <div class="col-lg-4 slidecol">
                        <h2>{{ c.class_name }}</h2>
                        <table class="table table-condensed table-striped" id="resultTable">
                            <th>#</th>
                            <th>Name</th>
                            <th>Club</th>
                            <th style="text-align:right;">Result</th>
                            {% if c.is_scored %}
                            <th style="text-align:right;">Score</th>
                            {% endif %}
                            {% for r in results_indv[c.class_code] %}
                            {% if loop.index <= 30 %}
                                <tr>
                                {% if r.status == 'OK' %}
                                    <td>{{ r.position }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ r.name }} ({{ r.club_code }})</td>
                                <td>{{ clubs[r.club_code] }}</td>
                                {% if r.status == 'OK' %}
                                    <td style="text-align:right;">{{ r.timetommmss() }}</td>
                                {% else %}
                                    <td style="text-align:right;">{{ r.status }}</td>
                                {% endif %}
                                {% if c.is_scored %}
                                <td style="text-align:right;">{{ r.score|int }}</td>
                                {% endif %}
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>

                    {% if (results_indv[c.class_code] | length) > 30 %}
                    <div class="col-lg-4 slidecol">
                        <h2>{{ c.class_name }} <small>Continued</small></h2>
                        <table class="table table-condensed table-striped" id="resultTable">
                            <th>#</th>
                            <th>Name</th>
                            <th>Club</th>
                            <th style="text-align:right;">Result</th>
                            {% if c.is_scored %}
                            <th style="text-align:right;">Score</th>
                            {% endif %}
                            {% for r in results_indv[c.class_code] %}
                            {% if loop.index > 30 %}    
                                <tr>
                                {% if r.status == 'OK' %}
                                    <td>{{ r.position }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ r.name }} ({{ r.club_code }})</td>
                                <td>{{ clubs[r.club_code] }}</td>
                                {% if r.status == 'OK' %}
                                    <td style="text-align:right;">{{ r.timetommmss() }}</td>
                                {% else %}
                                    <td style="text-align:right;">{{ r.status }}</td>
                                {% endif %}
                                {% if c.is_scored %}
                                <td style="text-align:right;">{{ r.score|int }}</td>
                                {% endif %}
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}

                    <!-- Matching Team Results go adjacent -->
                    {% for etc in classes_teams %}
                    {% if c.class_code in etc.team_classes and c.class_code.startswith('W') %}
                    <div class="col-lg-4 slidecol">
                        <h2>{{ etc.class_name }}</h2>
                        <table class="table table-condensed table-striped" id="resultTable">
                            <th class="col-xs-1">#</th>
                            <th class="col-xs-1">Score</th>
                            <th class="col-xs-10">Team</th>
                            {% for t in results_teams[etc.class_code] %}
                            <tr>
                                <td>{{ t.position }}</td>
                                <td style="text-align: right; padding-right:20px">{{ t.score|int }}</td>
                                <td>{{ clubs[t.club_code] }} ({{ t.club_code }})</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% endif %}
                    {% endfor %}

                
                {% endfor %}
                    <div class="col-lg-4 slidecol">
                        <h2 class="text-center">Junior Nationals</h2>
                        <p class="text-center">Mark your calendars, Cascade is hosting OUSA Junior Nationals April 17-19 on Whidbey Island!</p>
                        <p class="text-center">Registraiton will open soon!</p>
                    </div>
                    <div class="col-lg-4 slidecol">
                        <h2 class="text-center">Thanks to all of our Volunteers!</h2>
                        <p class="text-center">Today's event, and all Cascade Orienteering events, only happen becuase of volunteers.</p>
                    </div>

                </div>
            </div>
        </div>
    </body>


    <script>
        var slides = document.getElementsByClassName('slidecol');
        var numSlides = slides.length;
        var slideDurationSeconds = {{ dwell }};
        var refreshSeconds = 300;
        var n = 0

        function showAsSlides() {
            // start clear
            hideAll();

            // set up an interval and advance the slides
            var interval = window.setInterval(animate3, slideDurationSeconds * 1000 );

            for (var i = 0; i<slides.length; i++) {
                slides[i].addEventListener('animationend', hideOnSlideOut)
            }

            show(slides[0])
            show(slides[1])
            show(slides[2])
        }

        function hide(item) {
            item.style.width = 0;
            item.style.height = 0;
            item.style.overflow = "hidden";
            item.style.opacity = 0;
            if (item.classList.contains("toremove")) {
                item.classList.remove("toremove");
            }
            if (item.classList.contains("visible")) {
                item.classList.remove("visible");
            }
            if (! item.classList.contains("no-pad")) {
                    item.className += " no-pad"
            }
        }

        function hideOnSlideOut() {
            removed = document.getElementsByClassName("toremove");
            for (var i=0; i<removed.length; i++) {
                hide(removed[i]);
            }
            fadeIn();
        }

        function show(item) {
            item.style.width = null;
            item.style.height = null;
            item.style.overflow = null;
            item.style.opacity = 1;
            if (! item.classList.contains("visible")) {
                item.className += " visible"
            }
            if (item.classList.contains("toshow")) {
                item.classList.remove("toshow");
            }
            if (item.classList.contains("no-pad")) {
                item.classList.remove("no-pad");
            }
        }

        function fadeIn() {
            toshow = document.getElementsByClassName("toshow");
            for (var i=0; i<toshow.length; i++) {
                show(toshow[i]);
            }
        }

        function hideAll() {
            for (var i = 0; i<slides.length; i++) {
                hide(slides[i]);
            }
        }

        function show3(indx) {
            // show this index plus one more, plus stage one.
            for (i = indx; i < indx + 2; i++) {
                show(slides[i])
            }
            if (! slides[indx+2].classList.contains("toshow")) {
                slides[indx+2].classList += " toshow";
            }

            // hide everything that doesn't have the visible class on it.
            for (var i = 0; i<slides.length; i++) {
                if (! slides[i].classList.contains("visible")) {
                   hide(slides[i]);
                }
            }
        }

        function animate3() {
            // if (n % numSlides == 0 && n*slideDurationSeconds > refreshSeconds) {
            //     // at end and expired, reloading.
            //     console.log("expired, refreshing data")
            //     location.reload()
            // }

            var showing = document.getElementsByClassName('visible');
            //TODO: if showing.length > 3, error!!

            if (showing.length > 0) {
                showing[0]
                showing[0].className += " toremove"
            }

            // if the tab is not active, animations don't run and so the event doesn't trigger.
            // possible idea, not sure this totally works
            // add a toremove class to everything that's not the last three in "showing"
            // in show3, hide, and remove the "toremove" class from everything but the last four "visible"

            n++;

            var slideToShow = n % numSlides;
            if (slideToShow == 0) {
                if (n*slideDurationSeconds > refreshSeconds) {
                    console.log("expired, refreshing data")
                    location.reload()
                } else {
                    console.log("Displaying slide:" + slideToShow)
                    hideAll()
                    show(slides[0])
                    show(slides[1])
                    show(slides[2])
                }
            } else {
                console.log("Displaying slide:" + slideToShow)
                show3(slideToShow);
            }
        }

        showAsSlides()
    </script>
</html>