{% extends "base.html" %}

{% block title %}Individual Results{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<p>All results are preliminary.</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h1>WIOL (School)</h1>
		<ul class="list-unstyled">
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='W1F') }}" class="btn btn-default btn-block">Elementary Girls</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='W1M') }}" class="btn btn-default btn-block">Elementary Boys</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='W2F') }}" class="btn btn-default btn-block">Middle School Girls</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='W2M') }}" class="btn btn-default btn-block">Middle School Boys</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='W3F') }}" class="btn btn-default btn-block">Jr. Varsity Girls</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='W4M') }}" class="btn btn-default btn-block">Jr. Varsity Boys</a></li>
		<!--<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='W5M') }}" class="btn btn-default btn-block">Jr. Varsity Boys South</a></li>-->
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='W6F') }}" class="btn btn-default btn-block">Varsity Girls</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='W6M') }}" class="btn btn-default btn-block">Varsity Boys</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-4">
		<h1>WIOL Teams</h1>		
		<ul class="list-unstyled">
		<li><a href="{{ url_for('frontend.wiol_team_results', event_code=event, team_class='W2T') }}" class="btn btn-default btn-block">Middle School Teams</a></li>
		<li><a href="{{ url_for('frontend.wiol_team_results', event_code=event, team_class='W3FT') }}" class="btn btn-default btn-block">Jr. Varsity Girls Teams</a></li>
		<li><a href="{{ url_for('frontend.wiol_team_results', event_code=event, team_class='W4MT') }}" class="btn btn-default btn-block">Jr. Varsity Boys Teams</a></li>
		<li><a href="{{ url_for('frontend.wiol_team_results', event_code=event, team_class='W6FT') }}" class="btn btn-default btn-block">Varsity Girls Teams</a></li>
		<li><a href="{{ url_for('frontend.wiol_team_results', event_code=event, team_class='W6MT') }}" class="btn btn-default btn-block">Varsity Boys Teams</a></li>
	</div>
	<div class="col-xs-12 col-md-4">
		<h1>Winter O (Public)</h1>
		<ul class="list-unstyled">
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='1') }}" class="btn btn-default btn-block">Beginner</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='3') }}" class="btn btn-default btn-block">Intermediate</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='7') }}" class="btn btn-default btn-block">Short Advanced</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='8F') }}" class="btn btn-default btn-block">Long Advanced Women</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='8M') }}" class="btn btn-default btn-block">Long Advanced Men</a></li>
		<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event, indv_class='8G') }}" class="btn btn-default btn-block">Long Advanced Groups</a></li>
		</ul>
	</div>
</div>

{% endblock %}
