{% extends "base.html" %}

{% block title %}Individual Results{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<p>All results are preliminary.</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h2>Select an Event</h2>
		{% for e in events %}
		<p><a href="{{ url_for('frontend.event_class_select', event_code=e.event_code) }}">{{ e.event_name }} ({{ e.date }})</a></p>
		{% endfor %}
		{% if events|length == 0 %}
		<p>Hmm, no events found :'(</p>
		{% endif %}
	</div>
</div>

{% endblock %}
