{% extends "base.html" %}

{% block title %}List of Items{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<p>All results are preliminary. For changes or corrections, talk with meet staff.</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-4">
		<h1>WIOL (School)</h1>
		<ul class="list-unstyled">
		<li><a href="{{ url_for('frontend.cclass_results', cclass='W1F') }}" class="btn btn-default btn-block">Elementary Girls</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='W1M') }}" class="btn btn-default btn-block">Elementary Boys</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='W2F') }}" class="btn btn-default btn-block">Middle School Girls</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='W2M') }}" class="btn btn-default btn-block">Middle School Boys</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='W3F') }}" class="btn btn-default btn-block">Jr. Varsity Girls</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='W4M') }}" class="btn btn-default btn-block">Jr. Varsity Boys N</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='W5M') }}" class="btn btn-default btn-block">Jr. Varsity Boys S</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='W6F') }}" class="btn btn-default btn-block">Varsity Girls</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='W6M') }}" class="btn btn-default btn-block">Varsity Boys</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-md-4">
		<h1>Winter O (Public)</h1>
		<ul class="list-unstyled">
		<li><a href="{{ url_for('frontend.cclass_results', cclass='1') }}" class="btn btn-default btn-block">Beginner (1)</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='3') }}" class="btn btn-default btn-block">Intermediate (3)</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='7') }}" class="btn btn-default btn-block">Short Advanced (7)</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='8F') }}" class="btn btn-default btn-block">Long Advanced Women (8)</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='8M') }}" class="btn btn-default btn-block">Long Advanced Men (8)</a></li>
		<li><a href="{{ url_for('frontend.cclass_results', cclass='8G') }}" class="btn btn-default btn-block">Long Advanced Groups (8)</a></li>
		</ul>
	</div>
</div>

{% endblock %}