{% extends "base.html" %}

{% block title %}{{ event.event_name }} {{ class_info.class_name }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<h2 style="margin-bottom: 0px">Results for {{ class_info.class_name }}</h2>
		<p class="text-muted">{{ event.event_name }} at {{ event.venue }} - {{ event.date }}</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-8">
		<table class="table table-condensed table-striped" id="resultTable">
		<th>#</th>
		<th>Name</th>
		<th>Club</th>
		<th>Result</th>
		{% if class_info.is_scored %}
		<th>Score</th>
		{% endif %}
		{% for r in results %}
		<tr>
		{% if r.status == 'OK' %}
			<td>{{ r.position }}</td>
		{% else %}
			<td></td>
		{% endif %}
		<td>{{ r.name }} ({{ r.club_code }})</td>
		<td>{{ clubs[r.club_code] }} ({{ r.club_code }})</td>
		{% if r.status == 'OK' %}
			<td>{{ r.timetommmss() }}</td>
		{% else %}
			<td>{{ r.status }}</td>
		{% endif %}
		{% if class_info.is_scored %}
		<td>{{ r.score }}</td>
		{% endif %}
		</tr>
		{% endfor %}
		</table>
	</div>
	<div class="col-xs-12 col-md-4">
		<h4>Result Classifications:</h4>
		<dl>
			<dt>Did Not Finish</dt>
			<dd>Started the course but returned to the finish before finding all of the controls.</dd>
			<dt>Mis-Punch</dt>
			<dd>Completed majority of the course, but punched out of order or skipped a control or two.</dd>
			<dt>Not Competing</dt>
			<dd>Indicates the competitor should not be scored in this class. Does NOT indicate course completion status.</dd>
		</dl>
		<h4>Read your split ticket:</h4>
		<p>The <strong>left column shows the order</strong> you punched the controls for your course. It shows both the order (1, 2, 3) and the control code (108, 111, 132).</p>
		<p>The <strong>middle column shows your split time</strong>, the time you took to navigate from the previous control to this one.</p>
		<p>The <strong>right column shows your total time</strong>, since you punched the start box.<p>
		<p>If you see ----- or blank space, you may have missed a punch. Remember to go in order, and be sure the control unit beeps and flashes! If you realize you've skipped a control while you're on the course, you can go back to it, but you must "start over" from that point on the course (can't skip forward).</p>
		<p>If you see a lot of mistakes, it's possible the finish computer thought you were on a different course. Return to the finish tent to resolve the issue.</p>		
	</div>
</div>

<!-- <script src="{{ url_for('static', filename='filter.js') }}"></script> -->

{% endblock %}