{% extends "base.html" %}

{% block title %}{{ event.event_name }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-8">
		<h2 style="margin-bottom: 0px">{{ event.event_name }} - {{ event.venue }}</h2>
		<p class="text-muted">{{ event.date }}</p>
		<p>{{ event.description }}</p>
	</div>
</div>

<div class="row">
	{% if wiol|length > 0 %}
	<div class="col-xs-12 col-md-6">
		<div class="well">
			<h2>School League (WIOL)</h2>
			<ul class="list-unstyled">
			{% for c in wiol %}
			<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event.event_code, indv_class=c.class_code) }}" class="btn btn-default btn-lg btn-link">{{ c.class_name }}</a></li>
			{% endfor %}
			<h4>WIOL Teams</h4>
			{% for c in wiolT %}
			<li><a href="{{ url_for('frontend.event_class_result_team', event_code=event.event_code, team_class=c.class_code) }}" class="btn btn-default btn-lg btn-link">{{ c.class_name }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}
	<div class="col-xs-12 col-md-6">
		<div class="well">
			<h2>Public Classes</h2>
			<ul class="list-unstyled">
			{% for c in public %}
			<li><a href="{{ url_for('frontend.event_class_result_indv', event_code=event.event_code, indv_class=c.class_code) }}" class="btn btn-default btn-lg btn-link">{{ c.class_name }}</a></li>
			{% endfor %}
			<h4>Intercollegiate Teams</h4>
			{% for c in icT %}
			<li><a href="{{ url_for('frontend.event_class_result_team', event_code=event.event_code, team_class=c.class_code) }}" class="btn btn-default btn-lg btn-link">{{ c.class_name }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<p class="text-center"><a href="{{ url_for('frontend.signmode', event_code=event.event_code) }}">Sign Mode</a></p>
	</div>
</div>
{% endblock %}
