{% extends "base.html" %}

{% block title %}NOCI 2016{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-1">
		<h2>Live Results: NOCI 2016</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6 col-md-offset-1">
		<p>THANK YOU to all of our teams, coaches, and volunteers! We hope you all had a great weekend.</p>
		
		<h2>Splits and Route Gadget</h2>
		<p>Split times for Lincoln Tree Farm can be found at <a href="http://obasen.orientering.se/winsplits/online/en/default.asp?page=classes&databaseId=40820">WinSplits</a>. Draw and view routes on <a href="http://rg.cascadeoc.org/rg2/#132">Route Gadget</a>.<br />Cascade OC series results page available <a href="http://cascadeoc.org/results/2016/ultimate-orienteer-1-long-o-noci-day-1">here</a>.</p>
		<p>Split times for Ft. Steilacoom Park can be found at <a href="http://obasen.orientering.se/winsplits/online/en/default.asp?page=classes&databaseId=40848">WinSplits</a>. Draw and view routes on <a href="http://rg.cascadeoc.org/rg2/#133">Route Gadget</a>.<br />Cascade OC series results page available <a href="http://cascadeoc.org/results/2016/ultimate-orienteer-2-middle-noci-day-2">here</a>.</p>
</div>

<div class="row">
	<div class="col-xs-12 col-md-5 col-md-offset-1">
		<div class="well">
			<h2>Single-day results</h2>
			<ul class="list-unstyled">
			{% for e in events %}
			<li><a href="{{ url_for('frontend.event_class_select', event_code=e.event_code) }}" class="btn btn-default btn-lg btn-link">{{ e.event_name }} - {{ e.venue }}</a></li>
			{% endfor %}
			</ul>
		</div>
		<img class="img-rounded img-responsive center-block hidden-xs hidden-sm" style="max-height: 225px" src="{{ url_for('static', filename='IMG_9318_s.jpg') }}">
	</div>
	
	<div class="col-xs-12 col-md-5">
		<div class="well">
		<h2>NOCI 2016 two-day results</h2>
		<div class="row">
			<div class="col-md-6">
				<h3>Individual Classes</h3>
				<ul class="list-unstyled">
				{% for c in noci_indv_classes %}
				<li><a href="{{ url_for('frontend.noci_results_indv', class_code=c.class_code) }}" class="btn btn-default btn-lg btn-link">{{ c.class_name }}</a></li>
				{% endfor %}
				</ul>
			</div>
			<div class="col-md-6">
				<h3>Team Classes</h3>
				<ul class="list-unstyled">
				{% for c in noci_team_classes %}
				<li><a href="{{ url_for('frontend.noci_results_team', class_code=c.class_code) }}" class="btn btn-default btn-lg btn-link">{{ c.class_name }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		</div>
	</div>

</div>

{% endblock %}
