{% extends "base.html" %}

{% block title %}{{ class_info.class_name }} two-day results{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<h2>Two-day Results for {{ class_info.class_name }}:</h2>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-8">
		<table class="table table-condensed table-striped" id="resultTable">
		<tr>
			<th>#</th>
			<th>Team / Competitor</th>
			<th colspan="2" class="text-center">Day 1</th>
			<th colspan="2" class="text-center">Day 2</th>
			<th>Total Score</th>
		</tr>
		
		
		{% for r in results %}
		<tr class="teamresult">
			<td>{{ r.position }}</td>
			<td>{{ clubs[r.team_results[0].club_code] }} ({{ r.team_results[0].club_code }})</td>

			<td colspan="2" class="text-center">{{ r.team_results[0].score2f() }}</td>
			{% if r.team_results[1] %}
			<td colspan="2" class="text-center">{{ r.team_results[1].score2f() }}</td>
			{% else %}
			<td colspan="2"></td>
			{% endif %}
			<td class="text-right">{{ r.score2f() }}</td>
		</tr>
		
			{% for i in r.members.values() %}
			<tr class="teammember">
				<td></td>
				<td>{{ i.name }} ({{i.club_code}})</td>
				{% for e in events %}
					{% if i[e] %}
					<td class="text-right">{{ i[e].timetommmss() }}</td>
					
					
					{% if i[e].is_team_scorer %}
					<td class="success text-right">
					{% else %}
					<td class="text-right">
					{% endif %}
					{{ i[e].score2f() }}</td>
					{% else %}
					<td></td>
					<td></td>
					{% endif %}
				{% endfor %}
				<td>
				
			</tr>
			{% endfor %}
			
		{% endfor %}
		</table>
	</div>
	<div class="col-xs-12 col-md-4">
		<h4>Two-Day results</h4>
		<p>
			Team scores are summed across the two competition days. Lowest score wins.
		</p>
	</div>
</div>

<script src="{{ url_for('static', filename='filter.js') }}"></script>

{% endblock %}