{% extends "base.html" %}

{% block title %}{{ class_info.class_name }} two-day results{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<h2>Two-day Results for {{ class_info.class_name }}:</h2>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-8">
		<table class="table table-condensed table-striped" id="resultTable">
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>School</th>
			<th>Day 1</th>
			<th>Day 2</th>
			<th>Total Time</th>
		</tr>
		{% for r in results %}
		<tr>
			<td>{{ r.position }}</td>
			<td>{{ r.results[0].name }} ({{ r.results[0].club_code }})</td>
			<td>{{ clubs[r.results[0].club_code] }} ({{ r.results[0].club_code }})</td>
			<td>{{ r.results[0].timetommmss() }}</td>
			{% if r.results[1] %}
			<td>{{ r.results[1].timetommmss() }}</td>
			{% else %}
			<td></td>
			{% endif %}
			<td>{{ r.scoreasmmmss() }}
		</tr>
		{% endfor %}
		</table>
	</div>
	<div class="col-xs-12 col-md-4">
		<h4>Two-Day results</h4>
		<p>
			Two day individual results are the sum of each of the comptetior's finish times. A competitor is not awarded a two-day result until successful completion of both courses.
		</p>
	</div>
</div>

<script src="{{ url_for('static', filename='filter.js') }}"></script>

{% endblock %}