{% extends "base.html" %}

{% block title %}Team Results for {{ cclass.cclassfull }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<h2>Team Results for {{ cclass.cclassfull }}:</h2>
		<p>All results are preliminary.</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-8">
		<table class="table table-condensed" id="resultTable">
		<th>#</th>
		<th>Score</th>
		<th>Team</th>
		{% for t in teams %}
		<tr class="teamresult">
			<td>{{ t.position }}</td>
			<td>{{ t.score }}</td>
			<td>{{ clubs[t.clubshort] }} ({{ t.clubshort }})</td>
			{% for m in members %}
			{% if m.clubshort == t.clubshort %}
				<tr class="teammember">
					<td></td>
					<td>{{ m.score }}</td>
					<td>{{ m.name }} ({{ m.clubshort }})</td>
				</tr>
			{% endif %}
			{% endfor %}
		</tr>
		
		{% endfor %}
		</table>
	</div>
	<div class="col-xs-12 col-md-4">
		<h4>Team Scoring (WIOL):</h4>
		<p>The score of the fastest three finishers from a given school are summed to arrive at the team score. Ties are broken by comparing results of these three finishers head to head, starting with the highest score.
	</div>
</div>

<script src="{{ url_for('static', filename='filter.js') }}"></script>

{% endblock %}