{% extends "base.html" %}

{% block addhead %}
<script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='socket.io-1.4.3.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    socket.on('new punch', function(data) {
        $('#punchesTable tr:last').after('<tr><td>' + 'new' + '</td><td>' + data.time + '</td><td>' + data.sicard + '</td><td>' + data.name + '</td></tr>');
        console.log('new punch:', data)
    });
</script>
{% endblock %}

{% block title %}Radio Control {{ box }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<h2>SI cards punching at control box {{ box }}:</h2>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-8">
		<table class="table table-condensed table-striped" id="punchesTable">
		<th>#</th>
		<th>Time</th>
		<th>SI card</th>
		<th>Name</th>
		{% for p in punches %}
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ p.time }}</td>
			<td>{{ p.sicard }}</td>
			<td>{{ names[p.sicard] }}</td>
		</tr>
		{% endfor %}
		</table>
	</div>

	<div class="col-xs-12 col-md-4">
	<p>This page displays real-time punches for a specific control box. While punches show up in real time, name, status, and count are only reconciled when you refresh the page in your browser.</p>
	</div>

</div>

{% endblock %}
