header {
	padding-top: 20px;
	padding-bottom: 20px;
}

header li {
	display: inline-block;
	padding: 5px;
}

#headlogo {
	width: 100%;
	max-width: 300px;
	height: auto;
}

tr.teamresult {
	font-weight: bold;
}

tr.teammember { 
	color: #222222;
	font-style: italic;
}

td.right {
	text-align: right;
}

.center {
	text-align: center;
}

.foot {
	background-color: #222;
	margin-top: 50px;
	padding-top: 20px;
}

footer p {
	color: white;
}

#footlogo {
	width: 95%;
	max-width: 500px;
	height: auto;
}

