header {
	padding-top: 20px;
	padding-bottom: 20px;
}

header li {
	display: inline-block;
	padding: 5px;
}

#headlogo {
	width: 100%;
	max-width: 300px;
	height: auto;
}

tr.teamresult {
	font-weight: bold;
}

tr.teammember { 
	color: #222222;
	font-style: italic;
}

td.right {
	text-align: right;
}

.text-italic {
	font-style: italic;
}

.btn {
	white-space: normal;
}

.foot {
	background-color: #222;
	margin-top: 50px;
	padding-top: 20px;
}

footer p {
	color: white;
}

#footlogo {
	width: 95%;
	max-width: 200px;
	height: auto;
}

@keyframes slideout {
	from {
		opacity: 1;
		width: null;
		height: null;
		overflow: null;
	}
	to {
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
	}
}

.toremove {
	animation: slideout .5s linear 0s;
	animation-fill-mode: forwards;
}

.no-pad {
	padding: 0;
}

